<div class="container-fluid px-0">
    <section class="product-page-header">

  <div class="container">
        
  </div>
      </section>

  
</div>

<div class="container">

  <section data-section-id="{{ section.id }}" data-section-type="product">

    {%- assign current_variant = product.selected_or_first_available_variant -%}
    {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}
    <div class="row">

        

        {% comment %} Start Gallery Section {% endcomment %}
            <div class="col-6">
                    

                      {% if product.images.size > 0 %}
                        <div class="product-gallery">
                          {% for image in product.images %}
                            <div>
                              {% comment %} <a style="display: none;" href="{{ image.src | img_url: '480x480' }}" data-thumbnail-id="{{ image.id }}" data-product-single-thumbnail{% if featured_image == image %} aria-current="true"{% endif %}>
                                <img class="product-single__thumbnail-image" src="{{ image.src | img_url: '800x700', crop: 'center' }}" alt="{{ image.alt | escape }}">
                              </a> {% endcomment %}
                              <div class="product-featured-image" 
                              style="background-image: url({{ image.src | img_url: 'master'}});"></div>
                            </div>
                          {% endfor %}
                        </div>
                      {% endif %}

                      {% if product.images.size > 1 %}
                          <div class="product-gallery-nav">
                            {% for image in product.images %}
                              <div>
                                  <img class="product-single__thumbnail-image" src="{{ image.src | img_url: '200x200' }}" alt="{{ image.alt | escape }}">
                              </div>
                            {% endfor %}
                          </div>
                      {% endif %}
            </div>
        {% comment %} End Gallery Section {% endcomment %}


        {% comment %} Start Product Short Description {% endcomment %}
            <div class="col-6">
                <h1>{{ product.title }}</h1>
          <p>{{ product.vendor }}</p>

                {% comment %} Start Product Form {% endcomment %}
                    {% include 'product-page-form' %}
                {% comment %} End Product Form  {% endcomment %}

                <div class="rte mt-5">
                  {{ product.description }}
                </div>

                {% if section.settings.show_share_buttons %}
                  {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
                {% endif %}
            </div>
        {% comment %} End Product Short Description {% endcomment %}

    </div>
  
  </section>

</div>


{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      }
    ]
  }
{% endschema %}
